{% extends 'polls/base.html' %}

{% block main_content %}

<h1> {{question.question_text}}</h1>

{% if error_message %} <p><b> {{error_message}}</b></p> {% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}"/>
        <label for="choice{{forloop.counter}}"> {{choice.choice_text}} </label> <br>
    {% endfor %}
    <br>
    <input type="submit" class="btn btn-success" value="vote" />
</form>

<b><a style="color: #1b1b1b" href="{% url 'polls:index' %}"> Back to Questions List</a></b>
{% endblock %}